<template>
  <div class="app">
    <Login></Login>
    <Users></Users>
  </div>
</template>

<script>
import Login from "./components/Login.vue";
import Users from "./components/Users.vue";
export default {
  name: "app",
  components: {
    Login,
    Users
  }
};
</script>